head{
    background-color: #000000;
}

body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

p{
}

footer{
    background-color: aqua;
    text-align: center;
}