head{
    background-color: aqua;
    height: 10%;
    width: 100%;
    }

body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }


footer{
    background-color: aqua;
    height: 10%;
    width: 100%
    
    }