/* Document is in CSS */

header{
    position:fixed;
    text-align: center;
    background-color: aqua;
    height: 10%;
    width: 100%;
    }
h1{
    font-size: 3em;
    color: antiquewhite;
    }  
h3{
    font-size: 1.5em;
    color: white;
    }  
body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.buttons{
    box-shadow: 2px 2px 7px 1px #000000;
}

p{
        color: white;
    }

    li{
        color: white;
    }

    div.Idfk {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  text-align: center;
}
.divTable.Idfk .divTableCell, .divTable.Idfk .divTableHead {
  padding: 3px 2px;
}
.divTable.Idfk .divTableBody .divTableCell {
  font-size: 18px;
  color: #FFFFFF;
}
.divTable.Idfk .divTableHeading {
  background: #000000;
  border-bottom: 2px solid #444444;
}
.divTable.Idfk .divTableHeading .divTableHead {
  font-size: 21px;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
.divTable.Idfk .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

footer{
    position:fixed;
    text-align: center;
    background-color: aqua;
    height: 10%;
    width: 100%
    }