header{
    background-color: #715e5e;
    text-decoration-color: aliceblue;
    text-align: center;
}

body{
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: aliceblue;
    }

p{
}

footer{
    background-color: aqua;
    text-align: center;
    text-decoration-color: #000000;
}