header{

  color: white;
  background-color: black;
  justify-content: center;

}

h1{

  justify-content: center;
  
}
body{

  color: white;
  background-color: black;
  
}


.container {
  background-color: gray;
  }





footer{

  color: white;
  background-color: black;
  justify-content: center;

}